/* Глобальний дизайн сторінки */
body {
    background-color: #74bba3; /* Світлий фон для читабельності */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 
Шрифт без зарубок */
    color: #5d2302; /* Темно-сірий колір тексту */
    margin: 0; /* Видалення стандартних відступів браузера */
    padding: 20px; /* Внутрішні відступи сторінки */
}
/* Стилізація головного заголовка */
h1 {
    text-align: center; /* Вирівнювання тексту по центру */
    color: #703eb1; /* Глибокий синьо-сірий колір */
    margin-bottom: 40px; /* Відступ знизу для відокремлення від карток 
*/
}
/* Базовий дизайн картки */
.card {
    background-color: rgb(165, 222, 232); /* Білий фон */
    width: 280px; /* Фіксована ширина */
    padding: 20px; /* Внутрішні відступи */
    border-radius: 10px; /* М'яке заокруглення кутів */
    border-left: 6px solid #d274bb; /* Декоративна зелена смужка зліва 
*/
    
    /* Додавання візуального об'єму */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легка базова тінь */
    transition: 0.3s; /* Плавність анімації (зміни станів) */
}
/* Ефект при наведенні мишки */
.card:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15); /* Посилена тінь */
    transform: translateY(-8px); /* Зсув картки по осі Y (вертикалі) вгору на 8 пікселів */
    transform: scale(1.05)

}
/* Налаштування контейнера галереї */
.gallery {
    display: flex; /* Вмикає режим гнучкої сітки */
    justify-content: center; /* Вирівнює елементи по центру сторінки */
    gap: 20px; /* Встановлює відстань між картками */
    flex-wrap: wrap; /* Дозволяє перенесення карток на новий рядок */
}
/* Стиль для детальної сторінки книги */
.detail-card {
    background: white;
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    border-left: 6px solid #27ae60;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Мітка [Антикваріат] */
.badge {
    background-color: #e74c3c;
    color: white;
    font-size: 0.75em;
    padding: 2px 8px;
    border-radius: 4px;
    vertical-align: middle;
    margin-left: 8px;
}

/* Посилання «Детальніше» на картці каталогу */
.card a {
    display: inline-block;
    margin-top: 10px;
    color: #c509d6;
    text-decoration: none;
    font-weight: bold;
}
.card a:hover { text-decoration: underline; }
