/* Глобальний дизайн сторінки */
body {
    background-color: #f4f7f6; /* Світлий фон для читабельності */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 
Шрифт без зарубок */
    color: #333333; /* Темно-сірий колір тексту */
    margin: 0; /* Видалення стандартних відступів браузера */
    padding: 20px; /* Внутрішні відступи сторінки */
}
/* Стилізація головного заголовка */
h1 {
    text-align: center; /* Вирівнювання тексту по центру */
    color: #a212bb; /* Глибокий синьо-сірий колір */
    margin-bottom: 40px; /* Відступ знизу для відокремлення від карток 
*/
}
/* Базовий дизайн картки */
.card {
    background-color: white; /* Білий фон */
    width: 280px; /* Фіксована ширина */
    padding: 20px; /* Внутрішні відступи */
    border-radius: 10px; /* М'яке заокруглення кутів */
    border-left: 6px solid #4CAF50; /* Декоративна зелена смужка зліва 
*/
    
    /* Додавання візуального об'єму */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легка базова тінь */
    transition: 0.3s; /* Плавність анімації (зміни станів) */
}
/* Ефект при наведенні мишки */
.card:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15); /* Посилена тінь */
    transform: translateY(-8px); /* Зсув картки по осі Y (вертикалі) 
вгору на 8 пікселів */
}
/* Налаштування контейнера галереї */
.gallery {
    display: flex; /* Вмикає режим гнучкої сітки */
    justify-content: center; /* Вирівнює елементи по центру сторінки */
    gap: 20px; /* Встановлює відстань між картками */
    flex-wrap: wrap; /* Дозволяє перенесення карток на новий рядок */
}